<!doctype html>
<title>Get!</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jquery-ui-1.9.1.custom.min.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
<div class="page">
  {% block body %}{% endblock %}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js" type="text/javascript"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='main.js') }}" type="text/javascript"></script>
  {% block scripts %}{% endblock %}
</div>