{% extends "layout.html" %}
{% block body %}
    <div class="tabs">
        <ul>
            <li><a href="#tabs-1">Url</a></li>
            <li><a href="#tabs-2">File</a></li>
        </ul>
        <div id="tabs-1">
            <form id="url" action="{{ url_for('get_remote_site') }}" method="post">
                <div class="field-wrapper">
                    <input class="search-field required" type="text" name="url">
                    <input class="button big-button" type="submit" value="Get Url">
                    <br /><br />
                    <input type="checkbox" name="googleresult" value="true" /> This is a Google result url.
                </div>
            </form>            
        </div>
        <div id="tabs-2">
            <form id="file" action="{{ url_for('get_remote_file') }}" method="post">
                <input class="search-field required" type="text" name="file">
                <input class="button big-button" type="submit" value="Get File">         
            </form>  
        </div>
    </div>    
{% endblock %}